.ptext
{
    text-align: center;
}

.section{
  text-align: center;
}



.ptext,
label {
    font-size: 20px
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    background-color: white;
}

.pimg1,
.pimg2,
.pimg3 {
    position: ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.pimg1 {
    background-image: url(/static/images/two2.jpg);
    min-height: 70%
}

.pimg2 {
    background-image: url(/static/images/three.jpg);
    min-height: 400px
}

.pimg3 {
    background-image: url(/static/images/contact2.jpg);
    min-height: 70%
}

.section {
    padding: 20px 80px
}

.section-light {
    background-color: #ffff;
    color: #666
}

.section-dark {
    background-color: #;
    color: #666
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    color: #000;
    letter-spacing: 5px;
    text-transform: uppercase
}

.ptext .border {
    background-color: #e9c9ac;
    color: #fff;
    width: 20px;
    padding-top: 20px;
    padding-bottom: 20px
}

.ptext .border .trans {
    background-color: transparent
}

@media(max-width:310px) {
    .pimg1,
    .pimg2,
    .pimg3 {
        background-attachment: scroll
    }
}

input[type=text],
select,
textarea {
    width: 100%;
    resize: vertical;
    border-radius: 10px;
    height: 50;
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: .9;
    margin: auto;
    padding: 10px
}

label {
    display: inline-block;
    color: #fff;
    padding: 10px, ;
    background-color: #e9c9ac
}

.container {
    border-radius: 5px;
    margin: auto;
    width: 50%;
    padding: 10px
}

.col-25,
.col-75 {
    margin-top: 6px;
    float: center
}

.col-25 {
    width: 30%
}

.col-75 {
    width: 75%
}

.row:after {
    content: "";
    display: table;
    clear: both
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.logo {
    float: center
}

/*--------------------Return to tOP --------------------------------- */

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/*--------------------The end --------------------------------- */
