<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="cegesrendezvenyek rendezvenyszervezes" />
  <meta name="keywords" content="rendezvenyek, ceges rendezvenyszervezes" />
  <link rel="shortcut icon" href="/static/images/favicon.ico">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
  <title>Rendezvenyszervezes</title>
  <script src="/static/java/stickynav.js" defer></script>
  <script src="/static/java/input.js" defer></script>
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="static/topnav.css">
  <link rel="stylesheet" href="static/disables.css">
  <link rel="stylesheet" href="static/form.css">
</head>
<body>
  <!-- Return to Top -->
  <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
  <div class="wrapper">
    <header class="noselect">
      <nav>
          <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
          </div>
          <div class="topnav" id="myTopnav"  >
            <a href="#home"  class="ml16">Főoldal</a>
            <a href="#about-us" class="ml16">Rólunk</a>
            <a href="#contact" class="ml16">Kapcsolat</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
          </div>
      </nav>
    </header>
  </div>
  <div class="pimg1 noselect">
    <div class="ptext">
      <span class="border trans">
      </span>
    </div>
  </div>
  <section class="section section-light noselect" >
      <h2> Bojtor Andi vagyok,
        Rendezvényszervező
      </h2>
      <p  style="align:center">Azzal a céllal hoztam létre a cégemet, hogy újító szellemmel,<br />
      átformáljam rendezvényekről alkotott képet.
      <br />Már a kezdetektől csak a Céges rendezvényekre koncentráltam.<br />
      Mivel ebbe az irányba indultam el ezért tapasztalataim inkább erre felé orientálódtak.<br />
      Nagy hangsúlyt fektetek  a kreatív és pontosan, időben elvégzett munkára.<br />
      Élvezem a lehetetlennek tűnő határidőket és kéréseket.<br />
      Folyamatosan fejlődve már évek óta teljesítek kis csapatommal makulátlanul.</p>
  </section>

  <div class="pimg2 noselect">
    <div class="ptext">
      <span class="border">
        Konferenciák
      </span>
    </div>
  </div>
  <section class="section section-light noselect" id="about-us" >
    <!--<div id="about-pics">
      <img src="static/images/terv.jpg">
    </div>-->
    <p>Rendezvénytszervezek csapatának célja az, hogy minden megrendelő számára egyedi és igényesen lebonyolított élményt nyújtson. <br />
        Lehet ez csapatépítő tréning, céges rendezvény, évzáró buli, partnertalálkozó, termékbemutató vagy konferencia.<br />
        Kis csapatunk összehangoltságának és precizitásának köszönhetően<br />
        a felmerülő rengeteg kérdést és váratlan problémát gördülékenyen képesek levezényelni. <br />
        Ha kedvet kapott hozzá Keressen fel minket és dolgozzon velünk!
   </p>
  </section>
  <div class="pimg3">
    <div class="ptext">
      <span class="border trans noselect">
        Céges Rendezvényszervezés
      </span>
    </div>
  </div>
  <section class="row">
    </div>
    <div  class="get-in-touch" class="cloumn" id="contact">
        <h2>Vedd fel velünk a kapcsolatot</h2>

        {% if success %}

        {% else %}
          {% for message in form.name.errors %}
            <div class="flash"  class="input-text js-input">{{ message }}</div>
          {% endfor %}

          {% for message in form.email.errors %}
            <div class="flash"   class="input-text js-input">{{ message }}</div>
          {% endfor %}

          {% for message in form.subject.errors %}
            <div class="flash" class="input-text js-input">{{ message }}</div>
          {% endfor %}

          {% for message in form.message.errors %}
            <div class="flash" class="input-text js-input">{{ message }}</div>
          {% endfor %}

          <form action="{{ url_for('contact') }}" method=post autocomplete="off" >
            {{ form.hidden_tag() }}

            {{ form.name.label }}
            {{ form.name  }}

            {{ form.email.label }}
            {{ form.email }}

            {{ form.subject.label }}
            {{ form.subject }}

            {{ form.message.label }}
            {{ form.message }}


            {{ form.submit }}

          </form>

        {% endif %}
    </div>
  </div>
  </section>

  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

</body>
</html>
