<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="cegesrendezvenyek rendezvenyszervezes" />
  <meta name="keywords" content="" />
  <title>Rendezvenyszervezes</title>
  <script src="stickynav.js" defer></script>
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="static/topnav.css">
  <link rel="stylesheet" href="static/root.css">
</head>
<body>
  <div class="wrapper">
    <header class="noselect">
      <nav>
          <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
          </div>
          <div class="topnav" id="myTopnav">
            <a href="#home">Home</a>
            <a href="#about-us">Rólunk</a>
            <a href="#contact">Kapcsolat</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
          </div>
      </nav>
    </header>
  </div>
  <div class="pimg2 noselect">
    <div class="ptext">
      <span class="border trans">
        Rendezvényszervezés
      </span>
    </div>
  </div>
  <section class="section section-light noselect">
    <h2 >Miről szól</h2>
    <p>
      <strong>Bojtor Andi.</strong>
      Azzal a céllal hozta létre cégét, hogy újító szellemével, átformálja<br/ >
      és újragondolja céges rendezvényekről alkotott képet, az évek során ezt sikerrel véghezvitte.<br/>
      Vállaljuk többek között: Vállalati rendezvényszervezés, konferenciaszervezés, csapatépítés


    </p>
  </section>
  <div class="pimg3 noselect">
    <div class="ptext">
      <span class="border">
        Konferenciák
      </span>
    </div>
  </div>
  <section class="section section-dark noselect">
    <h2 id="about-us">Rólunk</h2>
    <p>
      A céges rendezvényekre szakosodott Andi és csapata<br />
       Nagy hansúlyt fektet a kreatív és pontosan elvégzett munkára.<br />
       élvezik a lehetetlennek tünő határidőket és kéréseket.</br>
       Folyamatosan fejlődve már évek óta teljesít makulátlanul.

    </p>
  </section>
  <div class="pimg2">
    <div class="ptext">
      <span class="border trans noselect">
        Vegye fel velünk a kapcsolatot

      </span>
    </div>
  </div>
  <section class="section section-dark" id="contact">
  <p>Email: bojtorandi@rendezvenytszervezek.hu </p>
  <p>Telefon:+36 70 367 1975 </p>
  </section>
  <!--
  A több éves tapasztalatból merítve lettek a
 A megalakulást követő években, precíz és határidőre pontos munkával, több elismerést is magukénak tudhatnak.
 <br />
 Strukturájában és müdködésében egyedülálló módszerekkel és fix díjszabással kezdtek dolgozni.
  <section class="section section-dark">
  </section>
  !-->
</body>
</html>
